.task {
    width: 100%;
    background-color: #d3d3d3;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(161, 161, 161);
    border: 2px solid blueviolet;
    p {
        font-weight: 700;
    }
}

select, button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 2px solid blueviolet;
}

.label {
    color: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.delete_form {
    button {
        cursor: pointer;
    }
}